* {
  background-color: rgb(250, 247, 247);
}

.navbar {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.logo-section {
  margin-left: 10px;
}

.menu-section {
  display: flex;
  gap: 30px;
  font-size: 25px;
}

.banner-section {
  display: flex;
  justify-content: space-between;
  margin: 30px 220px 0px 220px;
  margin-top: 58px;
}
.banner-title {
  margin-top: 95px;
}

.title {
  color: #e95a08;
}

.banner-para {
  color: #3d3838;
}

/* this is Our Plant Secion */
.plant-title {
  justify-items: center;
}
.plant-card {
  width: 230px;
  height: 550px;
  margin: 5px;
}
.card-rows {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.plant-card button {
  background-color: hsl(22, 91%, 55%);
  height: 35px;
  width: 100%;
  color: aliceblue;
}

/* Small Device Responsiveness */
@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
  }
  .banner-section {
    display: flex;
    flex-direction: column-reverse;
  }
  .card-rows {
    display: flex;
    flex-direction: column;
  }
}
