/* reset and universal code starts here */
* {
  box-sizing: border-box;
  list-style-type: none;
  background-color: rgb(250, 247, 247);
  margin: 30p 230px;
  outline: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
img {
  width: 100%;
  height: auto;
}
/* reset and universal code ends here */

.navbar {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  margin: 0px 120px;
}

.logo-section {
  margin-left: 10px;
}

.menu-section {
  display: flex;
  gap: 30px;
  font-size: 25px;
}

.banner-section {
  display: flex;
  justify-content: space-between;
  margin: 30px 200px 0px 200px;
  margin-top: 58px;
}
.banner-title {
  margin-top: 95px;
}

.title {
  color: #e95a08;
}

.banner-para {
  color: #3d3838;
}

/* this is Our Plant Secion */
.plant-title {
  justify-items: center;
}
.plant-headline {
  justify-content: center;
}
.plant-card {
  width: 230px;
  height: 550px;
  margin: 5px;
}
.card-rows {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.plant-card button {
  background-color: hsl(22, 91%, 55%);
  height: 35px;
  width: 100%;
  color: aliceblue;
}
.col-one img {
  border: 2px solid rgb(250, 243, 243);
  border-radius: 10px;
}
.col-two {
  border: 2px solid rgb(250, 230, 230);
  border-radius: 20px;
}

/* this is our deal section */
.latest-deal-section {
  margin-bottom: 35px;
}
.deal-title {
  justify-content: center;
}
.deal-image {
  display: flex;
  gap: 35px;
  margin-left: 100px;
}
.deal-upper {
  justify-content: center;
}

/* this is plants lover section */
.plants-lover-section {
  display: flex;
  gap: 45px;
  align-items: center;
  margin-bottom: 65px;
}

.plant-title {
  font-size: 45px;
  width: 50%;
}

.plant-description {
  font-size: 20px;
  height: 100%;
  width: 50%;
}

/* this is responsive section */
/* Small Device Responsiveness */
@media screen and (max-width: 576px) {
  .hide-on-small-device {
    display: none;
    justify-content: space-between;
  }
  .banner-section {
    display: flex;
    flex-direction: column-reverse;
  }
  .card-rows {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .plants-lover-secion {
    display: flex;
    float: column;
  }
  .deal-image {
    display: flex;
    flex-direction: column;
  }
}
